@mixin border {
    border: 8px solid brown;
}

@mixin ad-animation {
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@mixin bg-color {
    background-image: linear-gradient(skyblue, skyblue, orange);
    
}



body {
    background-image: url(../images/Screenshot_2020-04-27-Summit-Farms-Home.jpg);
}


$defaultDuration: .3s;

.advertisement {
   
    width: 300px; 
    height: 600px;
    position: absolute;
    left: -700px;
    @include bg-color;
    @include ad-animation;
    @include border;
    text-align: center;
    
    img {
        position: absolute;
        top: 190px;
        left: 100px;
        width: 90%;
        animation: wiggle 3s infinite ;
        animation-timing-function: linear;
        animation-direction: alternate;   

    }
    
    
}


    
    
    .pulse-grow {
        display: inline-block;
        font-size: 35px;
        position: absolute;
        top: 50px;
        right: 18px;
        background-color: white;
        border-radius: 30px;
        padding: 10px;
        animation-name: pulse-grow;
        font-family: 'Luckiest Guy', cursive;
            animation-duration: $defaultDuration;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        @keyframes pulse-grow {
            to {
                transform: scale(1.1);
            }
        }

        .text {
            position: absolute;
            top: 110px;
            font-size: 30px;
            right: 12px;
            font-family: 'Luckiest Guy', cursive, Arial, Helvetica, sans-serif;
            color: brown;
        }
    
    
.close {
    float: right;
}


.base {
    width: 300px;
    height: 60px;
    position: absolute;
    top: 540px;
    background-image: linear-gradient(green, brown);
    font-family: 'Luckiest Guy', cursive, Arial, Helvetica, sans-serif;
 
    p a {
        color: black;
        font-family: 'Luckiest Guy', cursive, Arial, Helvetica, sans-serif;
        position: absolute;
        top: 10px;
        left: 60px;
        font-size: 30px;
      }
      
      p a:hover {
        -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
        -moz-animation: neon4 1.5s ease-in-out infinite alternate;
        animation: neon4 1.5s ease-in-out infinite alternate;
      }
}

//keyframes

@-webkit-keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
    }
  }





@keyframes wiggle {
    0% { transform: translate(0, 0) rotate(0); }
    25% { transform: translate(5px, 0) rotate(5deg);}
  50% { transform: translate(-5px, 0) rotate(-5deg) ; }
  75% { transform: translate(5px, 0) rotate(5deg) ; }
  100% { transform: translate(-100px, 0) rotate(-5deg); }
}

@keyframes slide {
    from { transform: translate(0, 0);}
    to { transform: translate(800px, 0);}
}

//media queries


@media all and (max-width: 500px) {
.advertisement {
    width: 150px;
    height: 300px;
    img {
        width: 50%;
        position: absolute;
        top: 170px;
    }
}

.base {
    width: 100%;
    position: absolute;
    top: 260px;
    height: 40px;
    
}
.text {
    font-size: 20px;
    position: absolute;
    top: 100px;
    left: 10px;
}
.base p a {
    position: absolute;
    left: 15px;
    
    
    
    font-size: 20px;
}
.pulse-grow {
    width: 60%;
    font-size: 20px;
    position: absolute;
    top: 40px;
    right: 25px;
}
}